{% extends "base.html" %}
{% block title %}
    <title>Libro: {{libro.title}}</title>
{% endblock %}
{% block contenido %}
    <h1>{{libro.title}}</h1>
    <img src="{{libro.thumbnailUrl}}" alt="Foto libro">
    {% if "MEAP" in libro.status %}
        <p>ESTE LIBRO NO SE HA PUBLICADO</p>
    {% else %}
        <p>Numero paginas del libro {{libro.title}} = {{libro.pageCount}}</p>
        <br />
    <h3>Descripcion</h3>
        {% if libro.shortDescription %}
            <p>Descripcion corta = {{libro.shortDescription}}</p>
        {% endif %}
        <br />
    <h3>Autores</h3>
        {% for autores in libro.authors %}
            {% if autores %}
                <ul>
                    <li>{{autores}}</li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
