<!DOCTYPE HTML>
<html lang="es">
    <head>
        {% block title %}
        <title>
            Biblioteca
        </title>
        {% endblock %}
        <meta charset="uft-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/layout.css">
    </head>
    <body class="is-preload">
        <div id="blueBox">
            <div id="header"></div>
            <div class="pageContent">
                {% block contenido %}{% endblock %}
            </div>
        </div>
        <br />
        <strong>
            <div class="wrapper row5">
                <div id="copyright" class="hoc clear"> 
                  <p class="fl_left">Copyright &copy; 2022 - <a href="https://github.com/oscarlucas22">oscarlucasleo124</a></p>
                  <p class="fl_right">Creado por <a target="_blank" href="https://github.com/oscarlucas22" title="Free Website Templates">Óscar Lucas Leo</a></p>
                </div>
            </div>
        </strong>
    </body>
</html>